@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	color: rgb(18, 9, 42);
	text-align: justify;
	text-justify: inter-word;
}

body {
	background-color: rgb(222, 217, 247);
}

h1 {
	text-align: center;
}

.column {
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 33.33%;
}

.row {
	text-align: center;
	vertical-align: middle;
}

pre {
	text-align: left;
	white-space: pre-wrap;
	background: rgb(228, 231, 247);
	font-family: "Source Code Pro", monospace;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}